body {
    text-transform: uppercase;
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    background-color: #ffffff;
}
a {
  text-decoration: none;
}
.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000000;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
color: rgba(0, 0, 0, 0.3);
}
.site-navigation .active {
color: #766357;
}
.headline {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  }
.advantage-list {
  list-style: none;
  text-align: center;
}
.more-advantages {
  list-style: none;
  text-align: center;
}
.search-btn {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-align: center;

  background-color: #766357;
}
.button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}
.question {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}
.search-form {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}
.search-item {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}
.quantity-input {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}
.search-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}
.sorting-range-list {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.sorting-range-list {
  list-style: none;
}
.sorting-ab-list {
  list-style: none;
}
.details-item {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;

  background-color: #81b3d2;
}
.reserve-item {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;

  background-color: #766357;
}
.rating {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}
.lead {
  text-align: center;
  color: #333333;
  line-height: 26px;
}
.explain {
  text-align: center;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
}
.result-description-header a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}
.lead {
text-align: center;
}
.footer-social {
  text-align: center;
}
.details-item:hover {
  color: #ffffff;
  background-color: #669ec0;
}
.details-item:focus {
color: rgba(255, 255, 255, 0.3);
background-color: #5496bd;
}
.reserve-item:hover {
  color: #ffffff;
  background-color: #604e43;
}
.reserve-item:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.search-btn:hover {
  color: #ffffff;
  background-color: #604e43;
}
.search-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.button:hover {
  color: #ffffff;
  background-color: #669ec0;
}
.button:focus {
color: rgba(255, 255, 255, 0.3);
background-color: #5496bd;
}
.result-description-header a:hover {
  color: #81b3d2;
  background-color: #ffffff;
}
.result-description-header a:active {
color: rgba(0, 0, 0, 0.3);
background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.page-footer_logo {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.footer-copyright {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}
.sorting-range-list a:hover{
  color: #81b3d2;
}
.sorting-range-list a:focus{
  color: #000000;
}
.sorting-range-list .active{
  color: #81b3d2;
}
.details-price{
  color: #333333
}
